body {
  padding: 50px;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #961c85;
}

.bagAttr {
  background-color:powderblue;
  width: 300px;
  margin: 2px;
  text-align: center;
  color: white;
  padding: 4px;
  font-weight: bolder;
  

}
#listtitle{
  color:teal;
  font-weight: 800;
  font-family:Arial, Helvetica, sans-serif;
  text-decoration:aqua
}

.listitems{
  margin: 2px;
  padding: 10px;
  text-align: center;
  justify-content:center;
  font-weight: 300;
  background-color:plum;
  border-radius: 1px;
  width: 50%;
}
/* .specific{
    border-top: 2px solid rgb(206, 111, 77);
    width: 50%;
} */
